{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-1 text-white">Our Mission</h1>
                {#<h2 class="display-4 text-white">Paranoid about privacy</h2>#}
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="d-flex flex-row">
                    <div class="p-5">
                        <h2 class="display-5">We help you create a smart home security system</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel mi sapien. Fusce sit amet odio non est dapibus porttitor eu ac lorem. Vivamus at hendrerit metus. In at augue ut lectus euismod aliquam. Vivamus at diam quis orci finibus.</p>
                    </div>
                    <div class="p-5">
                        <img class="img-fluid" src="{{ asset('assets/images/mission_white.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ':includes:footer.html.twig' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/bootstrap.bundle.min.js') }}"></script>

{% endblock %}

{% block stylesheets %}

{% endblock %}
