{% extends 'base.html.twig' %}

{% block title %}Account Confirmed{% endblock %}

{% block body %}
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-3 text-white">Account Confirmed</h1>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        Your account has been recovered. <br>
                        Click <a href="{{ path('login') }}">here</a> to login.
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ':includes:footer.html.twig' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}